<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Thank you!</h2>

    <div data-th-object="${order}">
        Order ID: <p data-th-text="*{orderId}"></p>
        Name: <p data-th-text="*{customerName}"></p>
        Shipping Address: <p data-th-text="*{shipAddress}"></p>
        Delivery Date: <p data-th-text="*{orderDate}"></p>
        Notes: <p data-th-text="*{notes}"></p>
    </div>

    <div>
        <table border=1>
            <thead>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
            </thead>
            <tbody data-th-each="i : ${items}">
                <td data-th-text="${i.product}"></td>
                <td data-th-text="${i.unitPrice}"></td>
                <td data-th-text="${i.quantity}"></td>
            </tbody>
        </table>

    </div>
    
</body>
</html>